
.contact{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #DBE6ED;

}

.contact__address h4 {
	color: #111111;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact__address ul li {
	overflow: hidden;
	list-style: none;
	margin-bottom: 40px;
}

.contact__address ul li:last-child {
	margin-bottom: 0;
}

.contact__address ul li .icon {
	font-size: 20px;
	color: #f3bd00;
	height: 50px;
	width: 50px;
	background: #0c2b4b;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.contact__address ul li p {
	overflow: hidden;
	margin-bottom: 0;
	color: #111111;
}

.contact__address ul li p span {
	display: block;
}

.contact__form h4 {
	color: #111111;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact__form .site-btn {
    display: block;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
    display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 85px;
	color: #ffffff;
	background: #0c2b4b;
	letter-spacing: 1px;
    text-decoration: none;
}

.contact__form form input {
	width: 100%;
	height: 50px;
	border: 1px solid #e1e1e1;
	background: #ffffff;
	font-size: 14px;
	color: #444444;
	padding-left: 20px;
	margin-bottom: 30px;
}

.contact__form form input::-webkit-input-placeholder {
	color: #444444;
}

.contact__form form input::-moz-placeholder {
	color: #444444;
}

.contact__form form input:-ms-input-placeholder {
	color: #444444;
}

.contact__form form input::-ms-input-placeholder {
	color: #444444;
}

.contact__form form input::placeholder {
	color: #444444;
}

.contact__form form input:focus{
	outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important
}

.contact__form form textarea:focus{
	outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important
}

.contact__form form textarea {
	width: 100%;
	height: 110px;
	border: 1px solid #e1e1e1;
	background: #ffffff;
	font-size: 14px;
	color: #444444;
	padding-top: 12px;
	padding-left: 20px;
	margin-bottom: 24px;
	resize: none;
}

.contact__form form textarea::-webkit-input-placeholder {
	color: #444444;
}

.contact__form form textarea::-moz-placeholder {
	color: #444444;
}

.contact__form form textarea:-ms-input-placeholder {
	color: #444444;
}

.contact__form form textarea::-ms-input-placeholder {
	color: #444444;
}

.contact__form form textarea::placeholder {
	color: #444444;
}

.contact__form form button {
	width: 100%;
}

@media only screen and (max-width: 767px) {

    .contact__address {
		margin-bottom: 40px;
	}
 }